<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<script>
		// 对象的延展操作
		// let info = {
		// 	name: 'zhangsan',
		// 	age: 20
		// }
		// let obj = {
		// 	// 延展
		// 	...info,
		// 	photo: 110
		// }
		// // for (var key in info) {
		// // 	obj[key] = info[key];
		// // }
		// console.log(obj);
		// ------------------------------

		// 函数的延展操作
		// 形参做延展操作
		// function foo (a, ...other) {
		// 	console.log(a);
		// 	// 可以拿到出去 a 以外的所有参数
		// 	console.log(other);
		// }
		// foo(1,2,3,4);
	</script>
</body>
</html>